* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #937cf2;
  height: 100vh;
}

.btn {
  background-color: #250a95;
  color: #fff;
  text-decoration: none;
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.outer-container {
  width: min(100%, 400px);
  margin: auto;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

.inner-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.modal {
  height: 400px;
  width: min(90%, 350px);
  background-color: #250a95;
  color: #fff;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
}

h4 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  margin: 10px 0 25px;
  position: relative;
}

.email-input-label {
  display: block;
  font-size: 12px;
}

.password-input-label {
  display: block;
  font-size: 12px;
}

.email-input input[type="text"] {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 5px 0 40px;
}

.email-input input[type="text"]:focus {
  outline: none;
}

.password-input input[type="password"] {
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  margin: 5px 0 40px;
}

.password-input input[type="password"]:focus {
  outline: none;
}

.btn-container {
  align-content: center;
}

.login-btn .btn {
  display: block;
  border: none;
  width: 100%;
  background-color: #fff;
  color: #250a95;
  text-align: center;
  padding: 10px 30px;
}

.login-btn .btn:focus {
  display: block;
  border: none;
  outline: none;
  width: 100%;
  background-color: #fff;
  color: #250a95;
  text-align: center;
  padding: 10px 30px;
}
