body {
    
    background-color: #937cf2;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    
}
.btn {
    background-color: #250a95;
    color: #fff;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    align-content:center;
}

.login-btn .btn {
    align-items:flex-end;
    border: none;
    width: 10%;
    background-color: #fff;
    color: #250a95;
    text-align: end;
    padding: 10px 30px;
}
